* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    background-color: #0757D3;
    justify-content: space-between ;
    align-items: center;
}

.menu .left, .menu .right {
    display: flex;
    width: 50%;
    justify-content: space-around ;
    align-items: center;
}

img {
    height: 100px;
}

.menu .left .menu_form {
    display: block;
    color: white;
}

.menu .left .menu_form input {
    background-color: #0757D3;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    color: #FDFDFD;
    border: 1px;
    border-color: white;
    height: 90%;
    border-style:solid;
}

.menu .left img {
    margin: 10px 0 5px 20px;
}

.menu .left .about_us {
    display: block;
    border: 0;
    font-family: 'Courier New';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    color: #FDFDFD;
    background-color: #0757D3;
    margin-right: 150px;
    cursor: pointer;
}

.menu .left .about_us:hover {
    color:#CBDAFF;
}

.menu .left .about_us:active {
    color: #FDFDFD;
}

.menu .right img {
    display: block;
    border-radius: 100%;
    border: 5px;
    border-color: white;
    border-style: solid;
    margin: 10px 60px 5px 0;
    order: 2;
}

.menu .right .logout {
    display: block;
    font-family: 'Courier New';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    background-color: #0757D3;
    margin-left: 50px;
    color: white;
    text-decoration: none;

}

.menu .right .nick {
    display: block;
    border: 0;
    font-family: 'Courier New';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    color: #FDFDFD;
    background-color: #0757D3;
    margin-left: 50px;
    order: 1;
}

.menu .right .nick:hover {
    color:#CBDAFF;
}

.menu .right .nick:active {
    color: #FDFDFD;
}

.params {
    min-height: 84vh;
    background-image: url('../img/bg/main_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.params .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    color: #FDFDFD;
}

.params .form .header {
    display: block;
    margin: 50px auto;
    color: #FDFDFD;
    font-family: "Courier New";
}

.params .form form {
    display: block;
    margin: 0 auto;

}

.field {
    font-family: "Courier New";
    font-size: x-large;
    margin-top: 25px;
    margin-left: 35px;
    border: 0;
    color: #FDFDFD;
    width: 500px;
}

input {
    height: 35px;
    /*margin-left: 100px;*/
}


.params .form form .form_btn {
    display: block;
    margin: 0 auto;
    width: 162px;
    height: 40px;
    margin-top: 20px;
    background: #67B6FE;
    font-size: 20px;
    border: 0;
    color: #FDFDFD;
    font-family: "Courier New";
}