{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
    {% block static_dir %}
    {% endblock %}


</head>
<body>
    {% if user.is_authenticated %}
        <header>
        <nav class='menu'>
            <div class="left">
                <img src="{% static 'main/img/test_logos/logo.png' %}" alt="our logo">
                <form action="" method='get' class="menu_form">
                    <input type="text" class="search" placeholder="Поиск">
                </form>
                <button class="about_us">О нас</button>
            </div>

            <div class="right">
                <a href="{% url 'logout' %}" class="logout">Log out</a>
                <button class="nick">{{ user.username }}</button>
                <img src="{% static 'main/img/test_logos/user.png' %}" alt="user icon">
            </div>
        </nav>
    </header>

    {%block content%}
    {%endblock%}

    {% else %}
        <p>You are not2 logged in.</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
</body>
</html>